In [1]:
import os
import tempfile

import pandas as pd
import numpy as np
import tensorflow as tf
# import tensorflow_datasets as tfds

import tensorflow_recommenders as tfrs
from ast import literal_eval

import numpy as np
import numpy.ma as ma
from numpy import genfromtxt
from collections import defaultdict
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
import tabulate
import time
pd.set_option("display.precision", 1)

In [2]:
# Load and preprocess the data
ratings = pd.read_csv(r'C:\Users\Youse\Downloads\archive (1)\Coursera_reviews.csv')
courses = pd.read_csv(r'C:\Users\Youse\Downloads\archive (1)\Coursera_courses.csv')
courses_info = pd.read_csv(r'C:\Users\Youse\Downloads\archive (3)\coursera-course-detail-data.csv')
y_train = ratings.rating.values

In [3]:
courses_info = courses_info.drop('Unnamed: 0',axis=1)
courses_info['course_id'] =  courses_info['Url'].str.rsplit('/',1).str[1]

In [4]:
df_courses = courses.merge(courses_info, on='course_id', 
                   how='left', indicator='courses_with_info')

In [5]:
df_all = df_courses.merge(ratings, on='course_id', 
                   how='left', indicator='ratings_with_courses_info')

In [6]:
df_all = df_all[df_all['reviewers'] != 'By Deleted A']
df_all = df_all.dropna(subset=['Tags','rating'])
df_all['Tags'] = df_all['Tags'].apply(literal_eval)
df_all['Tags'] = df_all['Tags'].str[0]
df_all.rename(columns = {'Tags':'subcategory'}, inplace = True)

In [7]:
df_merged = df_all[['reviewers', 'course_id', 'subcategory', 'date_reviews', 'rating']]

In [9]:
# use pivot to create a dataframe with subcategory as columns, rating as values, and userId as an additional column
df_pivot = df_merged.pivot(columns="subcategory", values="rating")
df_pivot.insert(0, 'userId', df_merged['reviewers'])
df_pivot.insert(1, 'course_id', df_merged['course_id'])
df_pivot.insert(2, 'timestamp', df_merged['date_reviews'])
df_pivot.insert(3, 'rating', df_merged['rating'])

In [10]:
cols_to_mean = df_pivot.columns[3:]
for col in cols_to_mean:
    df_pivot[f'{col}'] = df_pivot.groupby('userId')[col].transform('mean')
user_input = df_pivot.fillna(0)
user_input['userId'] = pd.factorize(user_input['userId'])[0]
user_input = user_input.sort_values(by='userId', ascending=True)

In [11]:
dates = pd.to_datetime(user_input['timestamp'])
user_input['timestamp'] = (dates - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')

In [12]:
df_courses = df_courses.dropna(subset=['Tags'])
df_courses['Tags'] = df_courses['Tags'].apply(literal_eval)
df_courses['Tags'] = df_courses['Tags'].str[0]
df_courses.rename(columns = {'Tags':'subcategory'}, inplace = True)

In [13]:
encoded_cols = pd.get_dummies(df_courses['subcategory'], prefix='')
encoded_cols = encoded_cols.rename(columns=lambda x: x.replace('_', ''))
courses_input = pd.concat([df_courses, encoded_cols], axis=1)

In [14]:
courses_input = courses_input.iloc[:,list([3]) + list(range(10,courses_input.shape[1]))]
courses_input.head()

,course_id,Arts and Humanities,Business,Computer Science,Data Science,Health,Information Technology,Language Learning,Math and Logic,Personal Development,Physical Science and Engineering,Social Sciences
0,machine-learning,0,0,0,1,0,0,0,0,0,0,0
1,indigenous-canada,1,0,0,0,0,0,0,0,0,0,0
2,the-science-of-well-being,0,0,0,0,0,0,0,0,1,0,0
3,technical-support-fundamentals,0,0,0,0,0,1,0,0,0,0,0
4,google-cbrs-cpi-training,0,0,0,0,0,1,0,0,0,0,0

In [16]:
# courses_input['course_id'] = pd.factorize(courses_input['course_id'])[0]

In [17]:
combined = pd.concat([user_input['course_id'], courses_input['course_id']]).unique()
mapping = {id: i for i, id in enumerate(combined)}
courses_input['course_id'] = courses_input['course_id'].map(mapping)
user_input['course_id'] = user_input['course_id'].map(mapping)

In [18]:
rating = user_input.rating.values

In [19]:
courses_input_samples = user_input.merge(courses_input, on='course_id')

In [22]:
courses_input = courses_input_samples[['course_id', 'Arts and Humanities_y', 'Business_y',
       'Computer Science_y', 'Data Science_y', 'Health_y',
       'Information Technology_y', 'Language Learning_y', 'Math and Logic_y',
       'Personal Development_y', 'Physical Science and Engineering_y',
       'Social Sciences_y']]

In [23]:
if scaledata:
    item_train_save = courses_input
    user_train_save = user_input

    scalerItem = StandardScaler()
    scalerItem.fit(courses_input)
    courses_input = scalerItem.transform(courses_input)

    scalerUser = StandardScaler()
    scalerUser.fit(user_input)
    user_input = scalerUser.transform(user_input)
    print(np.allclose(item_train_save, scalerItem.inverse_transform(courses_input)))
    print(np.allclose(user_train_save, scalerUser.inverse_transform(user_input)))

True
True

In [24]:
from sklearn.model_selection import train_test_split
item_train, item_test = train_test_split(courses_input, train_size=0.80, shuffle=True, random_state=1)
user_train, user_test = train_test_split(user_input, train_size=0.80, shuffle=True, random_state=1)
y_train, y_test       = train_test_split(rating,    train_size=0.80, shuffle=True, random_state=1)
print(f"movie/item training data shape: {item_train.shape}")
print(f"movie/item test  data shape: {item_test.shape}")

movie/item training data shape: (1143257, 12)
movie/item test  data shape: (285815, 12)

In [25]:
scaler = MinMaxScaler((-1, 1))
scaler.fit(y_train.reshape(-1, 1))
ynorm_train = scaler.transform(y_train.reshape(-1, 1))
ynorm_test = scaler.transform(y_test.reshape(-1, 1))
print(ynorm_train.shape, ynorm_test.shape)

(1143257, 1) (285815, 1)

In [26]:
len(item_train)

1143257

In [32]:
num_user_features = user_input.shape[1] - 2  # remove userid, rating count and ave rating during training
num_item_features = courses_input.shape[1] -1 # remove movie id at train time
scaledata = True  # applies the standard scalar to data if true

In [33]:
item_train_save

,course_id,Arts and Humanities_y,Business_y,Computer Science_y,Data Science_y,Health_y,Information Technology_y,Language Learning_y,Math and Logic_y,Personal Development_y,Physical Science and Engineering_y,Social Sciences_y
0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1429067,554,0,1,0,0,0,0,0,0,0,0,0
1429068,554,0,1,0,0,0,0,0,0,0,0,0
1429069,554,0,1,0,0,0,0,0,0,0,0,0
1429070,554,0,1,0,0,0,0,0,0,0,0,0
1429071,554,0,1,0,0,0,0,0,0,0,0,0

In [ ]:
num_outputs = 32
rate = 0.001
tf.random.set_seed(1)
user_NN = tf.keras.models.Sequential([
    tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(num_outputs),
])

item_NN = tf.keras.models.Sequential([   
    tf.keras.layers.Dense(512, activation='relu'),
    tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(num_outputs),
])

# create the user input and point to the base network
input_user = tf.keras.layers.Input(shape=(num_user_features))
vu = user_NN(input_user)
vu = tf.linalg.l2_normalize(vu, axis=1)

# create the item input and point to the base network
input_item = tf.keras.layers.Input(shape=(num_item_features))
vm = item_NN(input_item)
vm = tf.linalg.l2_normalize(vm, axis=1)

# compute the dot product of the two vectors vu and vm
output = tf.keras.layers.Dot(axes=1)([vu, vm])

# specify the inputs and output of the model
model = tf.keras.Model([input_user, input_item], output)

tf.random.set_seed(1)
metric = tf.keras.metrics.RootMeanSquaredError()
cost_fn = tf.keras.losses.MeanSquaredError()
opt = keras.optimizers.Adam(learning_rate=rate)
model.compile(optimizer=opt, loss=cost_fn, metrics=[metric])
early_stop = tf.keras.callbacks.EarlyStopping(
    monitor='val_loss', patience=10, restore_best_weights=True)

history = model.fit([user_train[:,2:], item_train[:,1:]], ynorm_train, epochs=50, validation_split=0.2, 
    callbacks=[early_stop])

loss = model.evaluate([user_test[:, 2:], item_test[:, 1:]], ynorm_test)
return model, loss

Epoch 1/50
 6965/28582 [======>.......................] - ETA: 59s - loss: 7.6211e-04 - root_mean_squared_error: 0.0276

In [ ]:
user_input

In [ ]:
df_all.shape

In [ ]:
ratings.shape

In [ ]:
ratings[ratings.duplicated(keep=False)].sort_values("reviewers")

In [ ]:
ratings[ratings.duplicated(keep=False)]

In [ ]:
df_all[df_all['as'] == 'left_only']

In [ ]:
ratings[ratings['course_id'].isin(list(df_all['course_id']))]

In [ ]:
from surprise import SVD
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import train_test_split
from surprise.model_selection import cross_validate

from collections import defaultdict

In [ ]:
data = pd.read_csv(r'C:\Users\Youse\Downloads\archive (1)\Coursera_reviews.csv')

In [ ]:
data.head()

In [ ]:
data=data[['reviewers','course_id','rating']]
reviewers=data['reviewers'].unique()
reviewers=reviewers[:270000]

In [ ]:
data=data[~data['reviewers'].isin(reviewers)]
data=data.pivot_table(index=['reviewers'],columns=['course_id'],values='rating').fillna(0)
data=data.reset_index().melt(id_vars=['reviewers'])
reader=Reader(rating_scale=(0,5))
data=Dataset.load_from_df(data,reader)
type(data)

In [ ]:
trainset, testset= train_test_split(data, test_size=.25,shuffle=True)

In [ ]:
svd_model=SVD()
svd_model.fit(trainset)
cross_validate(svd_model, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

In [ ]:
predictions=svd_model.test(testset)

In [ ]:
top_n = defaultdict(list)
n=3
for uid, iid, true_r, est, _ in predictions:
  top_n[uid].append((iid, est))

for uid, user_ratings in top_n.items():
  user_ratings.sort(key=lambda x: x[1], reverse=True)
  top_n[uid] = user_ratings[:n]

for uid, user_ratings in top_n.items():
  print(uid, user_ratings)

In [ ]:
ratings[ratings['reviewers'] == 'By AKHIL']

In [ ]:
for uid, user_ratings in top_n.items():
    print(user_ratings)
    break